/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:wght@400;600&display=swap');
/* CSS Variables */
:root{
    --primary-typeface: "Montserrat", sans-serif;
    --secondary-typeface: "Open Sans", sans-serif;
    --body-text-colour: #3a1705; /* dark brown */
    --page-background: #F9F6F1; /* light beige */
    --headings-footer-background: #3E2C23; /*Dark Chocolate Brown*/ 
    --highlights-call-to-action-elements: #CBA135; /* Gold Brown */
    --primary-accents-buttons: #B7986B; /*Hazel Brown*/
}

/* Global styles */
body{
    font-family: var(--secondary-typeface);
    color: var(--body-text-colour);
}

h1, h2, h3, h4, h5, h6{
    font-family: var(--primary-typeface);
    color: var(--headings-footer-background);
}

.sub-heading-color {
    color: var(--highlight-color);
}

/* grid visualisation CSS for testing */

.container,
.row {
    border: 2px solid black;
}

.col-12 {
    border: 2px solid white;
    background-color: lightgray;
}